
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

#container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  hsl(212, 45%, 89%);
}

#main{
    width: 350px;
    height: 500px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    gap: 25px;
    
}

img{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    

}

#inner{   

    gap: 12px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

#inner h2{
    color: hsl(218, 44%, 22%);
}

#inner p{
    color: hsl(216, 15%, 48%);
}
